*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, sans-serif;
}
header {
    background: url(../images/bg.jpg)no-repeat center center;
    background-size: cover;
    min-height: 300px;
    font-size: 2em;
    padding: 1.5em .5em;
    text-align: center;
}
section {
    margin: 0 .5em;
}
article {
    padding: .75em;
}
aside {
    background: url(../images/c1.jpg)no-repeat;
    background-size: cover;
    padding: .75em;
    min-height: 12em;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
aside a {
    display: inline-block;
    padding: .25em;
    background-color: rgba(255,255,255,.8);
    color: #069;
    text-decoration: none;
    border: solid 1px #fff;
    border-radius: .2em;
    margin: .75em;
}
aside a:hover {
    background-color: rgba(0, 102, 153, .8);
    color: #fff;
}
.tripMsg {
    background-color: rgba(255,255,255,.8);
    padding: 1em;
    font-style: italic;
    color: #ff8c00;
    border-radius: .2em;
    border: solid 1px #fff;
}
footer {
    background-color: #666;
    text-align: center;
    font-size: .8em;
    padding: 1em;
}
.hideIt {
    display: none;
}

@media screen and (min-width:650px) {
    section {
        display: flex;
    }
}